@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2.5s linear infinite;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

/* .no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
.react-select-container {
  width: 100%;
}
